.header {
	height: 4rem;
	background-color: #075e54;
	display: flex;
	align-items: center;
}
.signout {
	padding: 0.5rem;
	font-size: 1rem;
	margin-left: 1rem;
	border: none;
	background-color: transparent;
	color: white;
}

/*Chatroom*/

.chatbox {
	position: fixed;
	height: 5rem;
	width: 100%;
	top: 90%;
	background-color: #075e54;
	display: flex;
	align-items: center;
	justify-content: center;
}

.chatroom {
	height: 80vh;
	overflow: scroll;
	background: url('./bg-lite.png');
	background-color: #e5ddd5e1;
}
.signin {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.message {
	display: flex;
	align-self: flex-end;
	align-items: center;
	margin: 0.8rem 0;
}
.messageright {
	flex-direction: row-reverse;
}
.colorright {
	background-color: #dcf8c6;
}
.colorleft {
	background-color: #fff;
}
.userimg {
	border-radius: 50%;
	height: 2rem;
}
.usertext {
	padding: 0.7rem;
	border-radius: 30px;
	margin: 10px;
	font-size: 0.9rem;
}
input,
input:focus {
	padding: 0.6rem;
	margin-right: 0.6rem;
	margin-bottom: 1.3rem;
	border: none;
	width: 60%;
	outline: none !important;
	border-radius: 30px;
}
.send {
	border-radius: 50%;
	padding: 0.7rem;
	margin-bottom: 1.3rem;
	border: 1px solid white;
	background-color: transparent;
}
i {
	font-size: 1.2rem;
	color: white;
}
.heading {
	justify-content: center;
	margin-left: 1rem;
	color: #fff;
	text-transform: uppercase;
}
.btn {
	padding: 1rem;
	background-color: #075e54;
	color: #fff;
	font-size: 1rem;
	border: none;
	border-radius: 30px;
}
.textbox {
	margin: 0 0.6rem;
}
